* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    text-align: center;
    color: #005f73;
    text-decoration: underline;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.caja {
    background-color: #f2f2f2;
    border: 2px solid #005f73;
    border-radius: 12px;
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}  