  body {
            font-family: 'Roboto', sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 20px;
        }

        h1, h2, h3 {
            text-align: center;
            color: #005f73;
        }

        h1 {
            font-size: 36px;
            text-decoration: underline;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 24px;
            text-decoration: underline;
            margin-top: 20px;
            margin-bottom: 10px;
            color: #0a9396;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #333;
        }

        .caja {
            background-color: #ffffff;
            border: 2px solid #005f73;
            border-radius: 12px;
            padding: 20px;
            max-width: 900px;
            margin: 20px auto;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
       